/* Add Blog Page Overlay */
.addBlogPage {
    min-height: 110%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
   z-index: 10
}

#newBlog {
    position: absolute;
    top: 5vh;
    left: 5%;
    background-color: rgb(159, 198, 198);
    width: 90%;
    min-height: 90vh;
    padding: 15px 20px;
    border-radius: 10px;
    z-index: 1000;
}

#newBlog h5 {
    font-size: 25px;
    color: #007bff;
    text-align: center;
}

#newBlog input {
    display: block;
    width: 100%;
    margin: 2% auto;
    padding: 5px;
}

#newBlog i {
    opacity: 0.6;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 15px;
    border: 3px solid #dc3545;
    padding: 2px 5px;
    border-radius: 50%;
    transition: opacity 0.5s;
}

#newBlog i:hover {
    opacity: 1;
}

#newBlog button {
    float: right;
    font-size: 20px;
}
